{% extends "base_template.html" %}

{% block main_content %}
    <p style="font-size: 16px; text-align: center"><strong>¡Tu solicitud de adopción fue aceptada!</strong></p>
    <br>
    <p>Tu postulación para adoptar a {{animal_name}} fue aceptada por {{owner_name}}</p>
    <p>Estamos muy felices por haber logrado esta conexión, y esperamos que sigas disfrutando de PET CONNECT.</p>
    <p>Todavía queda un mundo de animales sin hogar, así que seríamos más felices si nos recomendás a tus conocidos.</p>
    <p>Atentamente,</p>
    <p>PET CONNECT</p>
    <br>
{% endblock %}
