{% extends "base_template.html" %}

{% block main_content %}
    <p style="font-size: 16px; text-align: center"><strong>¡Ahora pertenecés a PET CONNECT!</strong></p>
    <br>
    <p>Tu organización <b>{{ organization_name }}</b> ha sido verificada</p>
    <p>Ya podés gestionar tus animales en adopción y tus campañas de donación en nuestra página web</p>
    <br>
    <p>Si tenés alguna pregunta o necesitás ayuda, no dudes en contactarnos.</p>
    <p>Atentamente,</p>
    <p>PET CONNECT</p>
    <br>
{% endblock %}
