{% extends "base_template.html" %}

{% block main_content %}
    <p style="font-size: 16px; text-align: center"><strong>¡Te damos la bienvenida a PET CONNECT!</strong></p>
    <br>
    <p>¡Estás a un paso de verificar tu cuenta!</p>
    <p>Por favor, hacé click en el siguiente enlace y podrás iniciar sesión en nuestro sitio web: <a
            href="{{ verify_account_url }}"><span
            style="text-decoration: underline; color: #1155CC"><strong>Abrir enlace</strong></span></a>.</p>
    <br>
    <p>Si tenés alguna pregunta o necesitás ayuda, no dudes en contactarnos.</p>
    <p>Atentamente,</p>
    <p>PET CONNECT</p>
    <br>
{% endblock %}
